BaseConverter/.vs
BaseConverter/BaseConverter/Debug
BaseConverter/BaseConverter/*.vcxproj.user
BaseConverter/BaseConverter/*.vcxproj
BaseConverter/BaseConverter/*.vcxproj.filters
BaseConverter/BaseConverter/stdafx.cpp
BaseConverter/BaseConverter/stdafx.h
BaseConverter/BaseConverter/targetver.h
BaseConverter/Debug
BaseConverter/*.sln

BaseUnConverter/.vs
BaseUnConverter/BaseConverter/Debug
BaseUnConverter/BaseConverter/*.vcxproj.user
BaseUnConverter/BaseConverter/*.vcxproj
BaseUnConverter/BaseConverter/*.vcxproj.filters
BaseUnConverter/BaseConverter/stdafx.cpp
BaseUnConverter/BaseConverter/stdafx.h
BaseUnConverter/BaseConverter/targetver.h
BaseUnConverter/Debug
BaseUnConverter/*.sln

TimeAdder/.vs
TimeAdder/TimeAdder/Debug
TimeAdder/TimeAdder/*.vcxproj.user
TimeAdder/TimeAdder/*.vcxproj
TimeAdder/TimeAdder/*.vcxproj.filters
TimeAdder/TimeAdder/stdafx.cpp
TimeAdder/TimeAdder/stdafx.h
TimeAdder/TimeAdder/targetver.h
TimeAdder/Debug
TimeAdder/*.sln

BinaryTree/.vs
BinaryTree/BinaryTree/Debug
BinaryTree/BinaryTree/*.vcxproj.user
BinaryTree/BinaryTree/*.vcxproj
BinaryTree/BinaryTree/*.vcxproj.filters
BinaryTree/BinaryTree/stdafx.cpp
BinaryTree/BinaryTree/stdafx.h
BinaryTree/BinaryTree/targetver.h
BinaryTree/Debug
BinaryTree/*.sln
